/* Fuente */
@font-face {
    font-family: 'hun_din';
    src: url("./../font/HunDIN1451.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tattoo';
    src: url("./../font/Hugtophia.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Márgenes de la página */
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
  } 
/* Menú principal */
.topnav {
    background-color: #1e1e1e;
    overflow: hidden;
    border-bottom-style: solid;
    border-color: rgb(255, 63, 63);
    padding-top: 1%;
    padding-bottom: 1%;
}
.dactive{
    float: left;
    width: 150px;
}
.dmh{
    float: left;
    height: 40px;
    width: 150px;
    box-sizing: border-box;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 3px;
    font-family: 'hun_din';
    display: inline-block;
    transition: 0.3s;
}
.mh:hover{
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
}
.dmh:hover{
    border-bottom-style: solid;
    border-color: rgb(255, 63, 63);
}

.topimg {
    background-image: url("./../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.fr {
    margin: auto;
    width: 50%;
    padding: 70px;
    text-align: center;
    margin-bottom: 5%;
}
.fr2 {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.17);
}
.nombre {
    margin: 0%;
    padding-top: 100px;
    font-size: 100px;
    font-family: 'tattoo';
}
.titulo {
    padding-bottom: 100px;
    color: #b1b1b1;
    font-size: 20px;
    font-family: 'hun_din';
    letter-spacing: 4px;
}
.fr3 {
    margin: auto;
    width: 50%;
    padding: 70px;
    text-align: center;
    margin-top: 5%;
}