
/* import fonts */
@font-face {
    font-family: 'hun_din';
    src: url("./../font/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* html */
html {
    scroll-behavior: smooth;
}

/* body */
body {
    margin: 0;
    padding: 0;
}

/* index background imagen */
.background-image {
    background-image: url('./../images/background_update.png');
    max-width: 100%;
    max-height: auto;
    background-size: 101% auto;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
}

/* div main title page */
.main-title {
    background-color: rgb(255,255,255);
    border-radius: 5px;
    text-align: center;
    margin-right: 16%;
    margin-left: 16%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-top: 10%;
    padding-bottom: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* index letter format */
.main-title p {
    font-family: 'hun_din';
    letter-spacing: 2px;
}

/* main title page name */
.main-name {
    font-weight: bold;
    color: #111;
    font-size: 70px;
    margin: 0;
}

/* subtitle page */
.subtitle {
    color: rgb(175, 175, 175);
    margin-top: 0;
}

/* main icons */
.main-icons {
    margin-top: 10%;
}

.main-icons a {
    color: #111;
    margin-right: 10px;
    margin-left: 10px;
}

.main-icons i {
    color: rgb(175, 175, 175);
    margin-left: 20px;
    margin-right: 20px;
}

/* main icons hover effect */
.main-icons a:hover {
    color: rgb(255, 63, 63);
}

/* information div */
.information {
    overflow: hidden;
    background-color: #111;
}

.information .info-container {
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: #fff;
    width: 50%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#information-title {
    font-family: 'hun_din';
    font-weight: bold;
    color: #111;
    font-size: 40px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 0;

}

#information-subtitle {
    font-family: 'hun_din';
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0;
}

#information-text {
    font-family: 'hun_din';
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 15%;
    text-align: justify;
    color: #111;
}

/* scroll back to top button */
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 63, 63);
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

/* hover effect on scroll back to top button */
#topBtn:hover {
    color: #111;
    background-color: rgb(175, 175, 175);
}