/* Fuente */
@font-face {
    font-family: 'hun_din';
    src: url("./../font/HunDIN1451.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tattoo';
    src: url("./../font/Hugtophia.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Márgenes de la página */
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
  } 
/* Menú principal */
.topnav {
    background-color: #0e0e0e;
    overflow: hidden;
    border-bottom-style: solid;
    border-color: rgb(255, 63, 63);
    padding-top: 1%;
    padding-bottom: 1%;
}
.dactive a {
    position: absolute;
    top: 0.5%;
    margin-left: 1%;
    font-family: 'tattoo' !important;
    font-size: 30px !important;
}
.dactive a:hover {
    color: rgb(255, 63, 63);
}
.dmh{
    margin-left: 2%;
    float: left;
    height: 40px;
    width: 150px;
    box-sizing: border-box;
}
#first {
    margin-left: 10%;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 11px 15px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: 'hun_din';
    display: inline-block;
    transition: 0.3s;
}
.mh:hover{
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
}
.dmh:hover{
    border-bottom-style: solid;
    border-color: rgb(255, 63, 63);
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    margin-top: 0.25%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: none;
    position: absolute;
    border-top-left-radius: 0% !important;
    border-radius: 5px;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    font-size: 13px;
    letter-spacing: 3px;
    padding-top: 1%;
    float: none;
    color: #1e1e1e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    color: rgb(255, 63, 63);
    text-decoration: underline;
}
.dropdown:hover .dropdown-content {
    transition: 0.3s;
    display: block;
}

.topimg {
    background-image: url("./../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    width: auto\9;
    border-bottom: solid;
    border-color: rgb(255, 63, 63);
}
.fr {
    margin: auto;
    width: 50%;
    padding: 70px;
    text-align: center;
    margin-bottom: 5%;
}
.fr2 {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.17);
}
.nombre {
    margin: 0%;
    padding-top: 100px;
    font-size: 100px;
    font-family: 'tattoo';
    color: #0e0e0e;
}
.titulo {
    padding-bottom: 100px;
    color: #b1b1b1;
    font-size: 20px;
    font-family: 'hun_din';
    letter-spacing: 4px;
    text-decoration: underline;
}
.fr3 {
    margin: auto;
    width: 50%;
    padding: 70px;
    text-align: center;
    margin-top: 5%;
}