@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables CSS personalizadas */
:root {
  --color-red: #e63946;
  --color-dark: #0f0f0f;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}